.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.inputLabel {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin: 5px;
  display: block;
}
